.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(19, 17, 24);
  background-image: url("../../assets/images/bg-image.webp");
  background-repeat: no-repeat;
  background-position: top;

  .login_container {
    border: 1px solid rgb(0, 240, 255);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    color: white;

    .login_header {
      padding: 20px;
      text-align: center;
    }

    form {
      padding: 20px;
      box-sizing: border-box;

      .form_group {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 8px;
        }

        input {
          width: 100%;
          padding: 8px;
          box-sizing: border-box;
          border: 1px solid rgb(0, 240, 255);
          border-radius: 4px;
          background-color: transparent;
          color: white;
          outline-color: rgb(0, 240, 255);
        }
        .inputError {
          border-color: red;
        }
      }

      button {
        width: 100%;
        margin-bottom: 10px;
      }

      .link {
        width: 100%;
        display: inline-block;
        text-align: center;
        color: rgb(0, 240, 255);

        &:hover {
          text-decoration: none;
        }
      }

      p {
        color: red;
        font-size: 12px;
        text-align: right;
      }
    }
  }
}
